#babylon-logo {
    position: absolute;
    text-align: center;
    height: 100px;
    top: 50px;
}

/*================ Footer ==============*/
.footer {
    width: 100%;
    color: goldenrod;
    background: black;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.footer .col {
    font-style: italic;
}

.footer .footer-info {
    color: white;
}

.footer img {
    width: 20px;
}

.formulaire .footer-auteur {
    display: flex;
    flex-direction: row;
    align-items: space-around;
}