{% extends 'base.html.twig' %}

{% block title %}LA CARTE
{% endblock %}


{% block body %}
	<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">


		<h1>LA CARTE</h1>
		<h1>Boissons</h1>
		<h2>
			Alcools
		</h2>
		<table class="alcools_legers">
			<tr>
				<th>Bière</th>
				<td>1664, Heineken, Hoegaarden, Desperados, Guiness, Leffe</td>
				<td>À partir de 5,50€</td>
			</tr>
			<tr>
				<th>Cocktails</th>
				<td>Margarita, Cosmo, Manhattan, Mojito, Aperol Spritz</td>
				<td>8€</td>
			</tr>
			<tr>
				<th>Vins blancs</th>
				<td>Muscat, Riesling, Chablis, Chardonnay, Sauvignon</td>
				<td >À partir de 5€</td>
			</tr>

			<tr>
				<th>Vins rouges</th>
				<td>Lambrusco, Château Minuty, Bordeau,St Emilion, Pinot</td>
				<td >À partir de 5€</td>
			</tr>
			<tr>
				<th>
					Vins rosés</th>
				<td>Côtes de Provence, Château Minuty, Coteaux Varois,Ste Croix, Gris de gris</td>
				<td >À partir de 5€</td>
			</tr>
			<tr>
				<th>
					Champagne
				</th>
				<td>
					Taittinger, Bollinger, Moët & Chandon, Veuve Clicquot
				</td>
				<td >À partir de 10€</td>
			</tr>
		</table>

		<h2>
			Alcools forts
		</h2>
		<table class="alcools_forts">
			<tr>
				<th>Whisky</th>
				<td>Jack Daniel’s, JB, Clan campbell, Jameson, Ballantines</td>
				<td>À partir de 8€</td>
			</tr>

			<tr>
				<th>
					Gin
				</th>
				<td>Gibson’s, Gordon’s, Bosford, Old lady, Hendricks</td>
				<td >À partir de 8€</td>
			</tr>

			<tr>
				<th>
					Vodka
				</th>
				<td>Absolute, Grey Goose, Belvedere, Crystal, Beluga</td>
				<td >À partir de 8€</td>
			</tr>

			<tr>
				<th>
					Rhum
				</th>
				<td>Saint James, Rivière malte, JM, Don papa</td>
				<td >À partir de 8€</td>
			</tr>

		</table>

		<h2>
			Boissons non alcoolisées
		</h2>
		<table class="soft">
			<tr>
				<th>Sodas
				</th>
				<td>Coca, Coca light, Fanta, Sprite, Ice tea, diabolo</td>
				<td >4€</td>
			</tr>
			<tr>
				<th>
					Jus de fruits
				</th>
				<td>Pomme, orange, abricot, raisin, ananas</td>
				<td >3,50€</td>
			</tr>
			<tr>
				<th>
					Milkshakes
				</th>
				<td>
					Vanille, banane, chocolat, café
				</td>
				<td >6€</td>
			</tr>
			<tr>
				<th>
					Cafés
				</th>
				<td>
					Espresso, noisette, crème, capuccino, allongé
				</td>
				<td >2,50€</td>
			</tr>
			<tr>
				<th>
					Thés
				</th>
				<td>
					Noir, vert, earl grey, verveine
				</td>
				<td >3,50€</td>
			</tr>
			<tr>
				<th>
					Granitas
				</th>
				<td>
					Coca, fraise, citron, menthe, passion
				</td>
				<td >5,50€</td>
			</tr>
		</table>

		<h1>
			Plats à la carte
		</h1>
		<h2>
			Entrées
		</h2>
		<table class="entrees">
			<tr>
				<th>
					Assiette de charcuterie
				</th>
				<td>Jambon de parme, saucisson, pâté de campagne, jambon blanc, speck</td>
				<td >9,90€</td>
			</tr>
			<tr>
				<th>Carpaccio de bœuf</th>
				<td>Boeuf finement tranché et son huile d’olive au pesto</td>
				<td >10,90€</td>
			</tr>
			<tr>
				<th>Salade Caesar</th>
				<td>Salade, tomate, poulet, parmesan, œuf, croûtons, sauce caesar</td>
				<td >9,90€</td>
			</tr>
			<tr>
				<th>Salade de chèvre chaud</th>
				<td>Salade, chèvre chaud sur son toast grillé, tomate sauce vinaigrette</td>
				<td >9,90€</td>
			</tr>
			<tr>
				<th>Foie gras</th>
				<td>Foie gras au sel de guérande sur son pain brioché toasté, salade</td>
				<td >10,90€</td>
			</tr>
		</table>
		<h2>
			Plats
		</h2>
		<table class="plats">
			<tr>
				<th>Steak haché frites</th>
				<td>Steak haché, frites, salade</td>
				<td >10,90€</td>
			</tr>
			<tr>
				<th>Croque Monsieur</th>
				<td>Croque monsieur jambon fromage salade
				</td>
				<td >7,90€</td>
			</tr>
			<tr>
				<th >Pâtes bolognaises</th>
				<td>Pâtes à la viande hachée et sauce tomate</td>
				<td >7,90€</td>
			</tr>
			<tr>
				<th>Grillades mixtes</th>
				<td>Agneau, boeuf, poulet</td>
				<td >23,90€</td>
			</tr>
			<tr>
				<th>Côte de bœuf Black Angus</th>
				<td>Côte de bœuf « Black Angus », Pomme de terre au four, haricots verts, sauce au choix</td>
				<td >24,90€</td>
			</tr>
			<tr>
				<th>Escalope Milanaise</th>
				<td>Escalope de poulet panée à la milanaise, spaghettis
				</td>
				<td >13,90€</td>
			</tr>
			<tr>
				<th>Tartare de bœuf</th>
				<td>Tartare de bœuf coupé au couteau, frites</td>
				<td >13,90€</td>
			</tr>
			<tr>
				<th>Pièce du boucher</th>
				<td>Pièce de bœuf sélectionnée par le chef, haricots verts, frites, sauce au choix
				</td>
				<td >13,90€</td>
			</tr>
			<tr>
				<th>Suprême de poulet</th>
				<td>Suprême de poulet, sauce crème et champignons, frites, riz</td>
				<td >13,90€</td>
			</tr>
		</table>
		<h2>
			Desserts
		</h2>
		<table class="desserts">
			<tr>
				<th>Fondant au chocolat
				</th>
				<td>Mi-cuit au chocolat fondant</td>
				<td >5,50€</td>
			</tr>
			<tr>
				<th>Crème brûlée</th>
				<td>Crème brûlées au caramel</td>
				<td >5,50€</td>
			</tr>
			<tr>
				<th>Fromage blanc coulis</th>
				<td>Fromage blanc coulis de framboise, fraise, casis</td>
				<td >5,50€</td>
			</tr>
			<tr>
				<th>Glace</th>
				<td>Chocolat, vanille, fraise, citron, pistache, café</td>
				<td >5,50€</td>
			</tr>
			<tr>
				<th>Assiette de fromage</th>
				<td>Conté, bleu, brie, chèvre, morbier</td>
				<td >9,90€</td>
			</tr>
		</table>
	</table>
	<h1>Formules</h1>
	<table class="formules">

		<h3>MENU ENFANT 9€</h3>
		<table class="enfant">
			<tr>
				<th>Entrée</th>
				<th>Plat</th>
				<th>Dessert</th>
			</tr>
			<tr>
				<td></td>
				<td>Steak haché</td>
				<td>Au choix</td>
			</tr>
			<tr>
				<td></td>
				<td>croque monsieur</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Pâtes bolognaises</td>
				<td></td>
			</tr>
		</table>


		<h3>MENU MclassI 15€</h3>
		<table class="mclassi">
			<tr>
				<th>Entrée</th>
				<th>Plat</th>
				<th>Dessert</th>
			</tr>
			<tr>
				<td></td>
				<td>Pièce de bœuf</td>
				<td>Au choix</td>
			</tr>
			<tr>
				<td></td>
				<td>croque monsieur</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Pâtes bolognaises</td>
				<td></td>
			</tr>
		</table>

		<h3>MENU SOIR 24€</h3>
		<table class="soir">
			<tr>
				<th>Entrée</th>
				<th>Plat</th>
				<th>Dessert</th>
			</tr>
			<tr>
				<td>Petit carpaccio</td>
				<td>Tartare de boeuf</td>
				<td>Au choix</td>
			</tr>
			<tr>
				<td>Salade chèvre ou salade Caesar</td>
				<td>Pièce du boucher</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Escalope Milanaise</td>
				<td></td>
			</tr>
		</table>

		<h3>MENU GRILLADES 29€</h3>
		<table class="grillades">
			<tr>
				<th>Entrée</th>
				<th>Plat</th>
				<th>Dessert</th>
			</tr>
			<tr>
				<td>Petit carpaccio</td>
				<td>Grillades mixtes</td>
				<td>Au choix</td>
			</tr>
			<tr>
				<td>Salade chèvre ou salade Caesar</td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<h3>MENU GASTRONOMIQUE 39€</h3>
		<table class="gastro">
			<tr>
				<th>Entrée</th>
				<th>Plat</th>
				<th>Dessert</th>
			</tr>
			<tr>
				<td>Petit carpaccio</td>
				<td>Tartare de bœuf XXL au roquefort frites salade</td>
				<td>Au choix</td>
			</tr>
			<tr>
				<td>Salade chèvre ou salade Caesar</td>
				<td>Cote de boeuf « black angus » haricots verts</td>
				<td></td>
			</tr>
			<tr>
				<td>Foie gras</td>
				<td>Suprême de poulet au foie gras</td>
				<td></td>
			</tr>
		</table>
	</table>
	</div>
</div>{% endblock %}
